@import url(https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Lato";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

body {
  overflow-y: hidden;
}

.page {
  max-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 9em;
  background: rgba(255, 255, 255, 0.2);
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.channels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  width: 70px;
  background: -o-linear-gradient(89deg, rgb(0, 0, 0) 0%, rgb(42, 42, 42) 35%);
  background: linear-gradient(1deg, rgb(0, 0, 0) 0%, rgb(42, 42, 42) 35%);
}

.channels__decor {
  padding-left: 9px;
  padding-bottom: 20px;
}

.channels__block {
  overflow: scroll;
  height: 82vh;
  overflow-x: hidden;
}

.channels__add-channel {
  margin-top: auto;
  margin-bottom: 15px;
}

.channels__add-channel a {
  display: block;
  content: url("../img/icons/add-channel.svg");
  -webkit-box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.16);
          box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.16);
  background-color: rgb(32, 31, 31);
  padding: 12px;
  border-radius: 50%;
  text-align: center;
  margin-left: 15px;
}

.channel-active {
  position: relative;
  opacity: 1;
  -webkit-filter: contrast(2);
          filter: contrast(2);
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

.channel-active::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 29px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(143, 143, 143);
}

.channel-about {
  padding-left: 10px;
  padding-top: 35px;
  background: -o-linear-gradient(92deg, rgb(37, 39, 42) 0%, rgb(58, 56, 56) 100%);
  background: linear-gradient(358deg, rgb(37, 39, 42) 0%, rgb(58, 56, 56) 100%);
  max-height: 100vh;
}

.channel-about__settings-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.channel-about__settings {
  font-weight: 700;
  font-size: 1.25rem;
  padding-right: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  position: relative;
  white-space: nowrap;
}

.channel-about__settings::after {
  position: absolute;
  content: url("../img/icons/settings-arrow.svg");
  top: -3px;
  right: 0;
}

.channel-about__settings-icon {
  margin-right: 23px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.channel-about__settings-icon:hover {
  background-color: rgba(198, 195, 195, 0.15);
}

.channel-about__threads {
  line-height: 1.2142857143;
  color: #B5B5B5;
  padding-left: 24px;
  padding-bottom: 30px;
  position: relative;
}

.channel-about__threads::before {
  content: url("../img/icons/threads.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__textarea {
  border: 1px solid black;
  margin-bottom: 10px;
  resize: none;
  padding: 15px;
  font-size: 1.25rem;
  border-radius: 10px;
}

.button__button {
  font-size: 1.625rem;
  border: 1px solid black;
  border-radius: 10px;
}

.channel-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.channel-about__groups {
  margin-top: 30px;
  padding-right: 24px;
  overflow-y: scroll;
  height: 43.5vh;
}

.channel-about__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  text-transform: uppercase;
  color: #919191;
  padding-bottom: 14px;
}

.channel-about__room-block {
  margin-bottom: 14px;
}

.channel-about__room {
  line-height: 1.2142857143;
  color: #B5B5B5;
  padding: 4px 0px 9px 13px;
}

.channel-about__room:not(:last-child) {
  margin-bottom: 3px;
}

.channel-about__friends-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-left: 13px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.channel-about__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 24px;
}

.channel-about__friend-img {
  border-radius: 10px;
}

.channel-about__friend {
  padding-left: 12px;
  line-height: 1.2142857143;
  color: #B5B5B5;
}

.channel-about .active {
  font-weight: 700;
  color: #FFFFFF;
  background-color: #5f6267;
  border-radius: 8px;
}

.spollers {
  position: relative;
}

.spollers__item {
  white-space: nowrap;
  margin-bottom: 10px;
  margin-left: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.spollers__item:hover {
  color: #5F6164;
}

.spollers__body {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  text-transform: capitalize;
  position: absolute;
  font-size: 16px;
  color: #E8E8EB;
  z-index: 5;
  background-color: rgb(58, 56, 56);
  width: 150px;
}

.section-friends {
  overflow: scroll;
  height: 41vh;
}

.friend-online::before {
  position: absolute;
  content: "";
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #70CC16;
}

.friend-offline::before {
  position: absolute;
  content: "";
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #666666;
}

.channel-chat {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description-chat {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1764705882);
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.description-chat__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #000000;
  position: relative;
  padding-right: 20px;
}

.description-chat__title::after {
  content: url("../img/icons/favourite.svg");
  position: absolute;
  top: 0;
  right: 0;
}

.description-chat__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-chat__members {
  line-height: 1.2142857143;
  color: #A4A4A4;
  padding-left: 15px;
  position: relative;
}

.description-chat__members::before {
  content: url("../img/icons/members.svg");
  position: absolute;
  top: 1px;
  left: 0;
}

.description-chat__search-form {
  border: 0.5px solid rgba(0, 0, 0, 0.24);
  padding: 8px 0px 8px 16px;
  border-radius: 5px;
  margin-left: 24px;
  margin-right: 24px;
}

.description-chat__search-form:focus {
  border: 2px solid rgba(0, 0, 0, 0.24);
}

.description-chat__input {
  width: 190px;
  outline: none;
  opacity: 1;
}

.description-chat__input::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.description-chat__input::-moz-placeholder {
  -moz-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.description-chat__input:-ms-input-placeholder {
  -ms-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.description-chat__input::-ms-input-placeholder {
  -ms-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.description-chat__input::placeholder {
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.description-chat__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.description-chat__input:focus::-moz-placeholder {
  opacity: 0;
}

.description-chat__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.description-chat__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.description-chat__input:focus::placeholder {
  opacity: 0;
}

.description-chat__button {
  padding-right: 16px;
}

.description-chat__notification {
  margin-right: 22px;
}

.description-chat__channel-settings {
  margin-right: 24px;
  position: relative;
}

.alert::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #FD4948;
  border-radius: 50%;
}

.channel-chat__chat {
  overflow-wrap: break-word;
  max-width: 950px;
  padding-left: 64px;
  padding-top: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: scroll;
}

.channel-chat__chat-message {
  line-height: 1.4285714286;
  color: #000000;
}

.chatting-section {
  min-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1764705882);
}

.chatting-section__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 24px;
}

.chatting-section__send-file {
  margin-left: 24px;
  cursor: pointer;
}

.chatting-section__voice-message {
  margin-left: 19px;
}

.chatting-section__input {
  margin-left: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  outline: none;
  opacity: 1;
  font-size: 1.0625rem;
  line-height: 1.1176470588;
}

.chatting-section__input::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.chatting-section__input::-moz-placeholder {
  -moz-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.chatting-section__input:-ms-input-placeholder {
  -ms-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.chatting-section__input::-ms-input-placeholder {
  -ms-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.chatting-section__input::placeholder {
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.chatting-section__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.chatting-section__input:focus::-moz-placeholder {
  opacity: 0;
}

.chatting-section__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.chatting-section__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.chatting-section__input:focus::placeholder {
  opacity: 0;
}

.chatting-section__input-button img {
  width: 22px;
  height: 22px;
  margin-right: 15px;
}

#upload-file {
  opacity: 0;
  position: absolute;
  z-index: -1;
  cursor: auto;
  width: 10px;
}

.user-info__container {
  padding-top: 14.5px;
  padding-left: 20px;
}

.user-info__name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875;
  color: #000000;
  margin-bottom: 4px;
}

.user-info__about {
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: #5F6164;
  margin-bottom: 20px;
}

.user-info__socials {
  margin-bottom: 22px;
}

.user-info__social-img {
  background-color: #E8E8EB;
  border-radius: 50%;
  padding: 5px;
  width: 22px;
  height: 22px;
}

.user-info__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.user-info__message-popup {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.2307692308;
  color: #FFFFFF;
  padding: 4px 40px;
  background-color: #3577EF;
  max-width: 133px;
  border-radius: 5px;
  margin-right: 3px;
}

.user-info__message-menu img {
  padding: 10px;
  border-radius: 5px;
  background-color: #3577EF;
}

.user-info__title {
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: #5F6164;
}

.user-info__link {
  line-height: 1.2142857143;
  color: #000000;
  padding-bottom: 11.5px;
}

@media (min-width: 120em) {
  .channel-about__settings-block {
    gap: 5.875rem;
  }

  .description-chat {
    padding-left: 1.4375rem;
  }
}

@media (max-width: 20em) {
  .channel-about__settings-block {
    gap: 2.125rem;
  }

  .description-chat {
    padding-left: 0.8125rem;
  }
}

@media (max-width: 67.5em) {
  .user-info {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 120em) {
@supports (gap: clamp( 2.125rem , 1.375rem  +  3.75vw , 5.875rem )) {
    .channel-about__settings-block {
      gap: clamp( 2.125rem , 1.375rem  +  3.75vw , 5.875rem );
    }
}

@supports not (gap: clamp( 2.125rem , 1.375rem  +  3.75vw , 5.875rem )) {
    .channel-about__settings-block {
      gap: calc(2.125rem + 3.75 * (100vw - 20rem) / 100);
    }
}

@supports (padding-left: clamp( 0.8125rem , 0.6875rem  +  0.625vw , 1.4375rem )) {
    .description-chat {
      padding-left: clamp( 0.8125rem , 0.6875rem  +  0.625vw , 1.4375rem );
    }
}

@supports not (padding-left: clamp( 0.8125rem , 0.6875rem  +  0.625vw , 1.4375rem )) {
    .description-chat {
      padding-left: calc(0.8125rem + 0.625 * (100vw - 20rem) / 100);
    }
}
}